AssetManagement/Biofarma.Service.ERP/Service References/AssetERP/xppservice81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp-aos-01.biofarma.co.id/MicrosoftDynamicsAXAif60/Asset/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="SCC_WSAssetObj">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AcquisitionDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssetGroupID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetGroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostCenter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MajorType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MajorTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetBookValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="NomorInventaris" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TanggalPerolehan" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SCC_WSAssetObj" nillable="true" type="tns:SCC_WSAssetObj" />
  <xs:complexType name="ArrayOfSCC_WSAssetObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCC_WSAssetObj" nillable="true" type="tns:SCC_WSAssetObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCC_WSAssetObj" nillable="true" type="tns:ArrayOfSCC_WSAssetObj" />
</xs:schema>